.arrow{
    height:10px;
}

.dropdown{
    position: absolute;
    display: none;
    border-width: 2px;
    border-color: #3a878f;
    border-style: solid;
    border-radius: 10px;
}

.dropdownparent:hover .dropdown{
    display: block;
}